* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73s))
}

